<html lang="en">
<head>
    <title>LED Control</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
    <div id="pageContainer">
        <div id="headerContents">
            <h1>
                LED Control
            </h1>
        </div>
        <div id="pageContents">
            <form id="ledInput" method="POST" action="/">
                <div class="selectdiv">
                    <label>
                        <select name="color">
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="green">Green</option>                            
                            <option value="purple">Purple</option>
                            <option value="blue">Blue</option>
                            <option value="pink">Pink</option>
                            <option value="teal">Teal</option>                                
                            <option value="rainbow">Rainbow</option>
                            <option value="off">Off</option>
                        </select>
                    </label>
                </div>
                <div class="selectdiv">
                    <select name="mode">
                        <option value="solid">Solid</option>
                        <option value="flashing">Flashing</option>
                        <option value="strobe">Strobe</option>                         
                        <option value="breathing">Breathing</option>
                    </select>
                </div>
                <input id="submit" type="submit">
            </form>
        </div>
    </div>
</body>
</html>