:root {
    --main-bg-color: rgb(18, 24, 36);
    --button-presed: rgb(38, 45, 64);
    --white-color: rgb(214, 214, 214);
    --accent-button: rgb(106, 105, 245);
    --accent-button-presed: rgb(52, 51, 112);
    --accent-color: rgb(71, 82, 102);
    --border-rad: 15px;
}

body {
    margin-top: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--white-color);
}

#pageContainer {
    width: 85%;
    margin: auto;
}

#headerContents {
    border: 3px solid black;
    border-radius: var(--border-rad);
    background-color: var(--accent-color);
    width: 60%;
    max-width: 500px;
    margin: auto;
}

#headerContents h1 {
    font-size: 50px;
    padding: 2vh 2vw;
    margin: auto;
    text-align: center;
}

#pageContents {
    margin-top: 5vh;
}

#ledOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.optionBox {
    margin-top: 10px;
}

.containerHeader {
    border: 3px solid black;
    border-radius: var(--border-rad);
    background-color: var(--accent-color);
    width: 40%;
    max-width: 350px;
    margin: auto;
}

.containerHeader h2 {
    font-size: 35px;
    padding: 2vh 4vw;
    margin: auto;
    text-align: center;
}

.optionContainer {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .optionContainer {
       justify-content: center;
    }
 }

.option {
    position: relative;
    border: 3px solid black;
    background-color: var(--accent-color);
    border-radius: var(--border-rad);
    width: 30%;
    height: 20vw;
    min-width: 250px;
    margin-bottom: 4vh;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

@media (max-width: 1000px) {
    .option {
       margin-left: 1vh;
       margin-right: 1vh;
       margin-bottom: 1.75vh;
    }
 }

.optionTextContainer {
    position: absolute;
    left: 7%;
    top: 5%;
    background-color: var(--accent-color);
    border-radius: var(--border-rad);
    border: 3px solid black;
    width: fit-content;
    padding: 0% 8%;
}

.optionTextContainer h3 {
    line-height: 12px;
    font-size: 22px;
}

#redColor {
    background-color: rgb(228, 21, 21);
}

#blueColor {
    background-color: rgb(29, 29, 124);
}

#greenColor {
    background-color: rgb(45, 136, 37);
}

#pinkColor {
    background-color: rgb(177, 47, 138);
}

#purpleColor {
    background-color: rgb(116, 14, 107);
}

#tealColor {
    background-color: teal;
}