<html lang="en">
<head>
    <title>LED Control</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="pageContainer">
        <div id="headerContents">
            <h1>
                LED Control
            </h1>
        </div>
        <div id="pageContents">
            <div id="ledOptions">
                <div id="colors" class="optionBox">
                    <div class="containerHeader">
                        <h2>Colors</h2>
                    </div>

                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                    <script type="text/javascript">
                        $(function() {
                            $('a#test').on('click', function(e) {
                                e.preventDefault()
                                $.getJSON('/background_process_test',
                                    function(data) {
                                    // do nothing
                                });
                                return false;
                            });
                        });
                    </script>


                    <div class="container">
                        <h3>Test</h3>
                        <form action="">
                            <a href=# id=test><button class="btn btn-default">TEST</button></a>
                        </form>
                    </div>

                    <div class="optionContainer">
                        <div class="option" id="redColor">
                            <div class="optionTextContainer">
                                <h3>Red</h3>
                            </div>
                        </div>
                        <div class="option" id="blueColor">
                            <div class="optionTextContainer">
                                <h3>Blue</h3>
                            </div>
                        </div>
                        <div class="option"id="greenColor">
                            <div class="optionTextContainer">
                                <h3>Green</h3>
                            </div>
                        </div>
                        <div class="option" id="pinkColor">
                            <div class="optionTextContainer">
                                <h3>Pink</h3>
                            </div>
                        </div>
                        <div class="option" id="purpleColor">
                            <div class="optionTextContainer">
                                <h3>Purple</h3>
                            </div>
                        </div>
                        <div class="option" id="tealColor">
                            <div class="optionTextContainer">
                                <h3>Teal</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modes" class="optionBox">
                    <div class="containerHeader">
                        <h2>Modes</h2>
                    </div>
                    <div class="optionContainer">
                        <div class="option">

                        </div>
                        <div class="option">

                        </div>
                        <div class="option">

                        </div>
                        <div class="option">

                        </div>
                        <div class="option">

                        </div>
                        <div class="option">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>